<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->


  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css">

  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">


  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
  <nav class="fh5co-nav navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-2">
          <div id="fh5co-logo">
            <img src="/image/index/sharedo.png" alt="64x64"/>
          </div>
        </div>
        <div class="col-md-4 col-xs-4 text-center menu-1">
          <ul>
            <li class="has-dropdown">
              <a href="/index/index.html">首页</a>
            </li>
            <li>
              <a href="about.html">文章专区</a>
            </li>
            <li>
              <a href="contact.html">视频专区</a>
            </li>
            <li>
              <a href="contact.html">联系我们</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-5 text-right hidden-xs menu-2">
          <ul>

            <li class="search">
              <div class="input-group">
                <input type="text" placeholder="搜索">
                <span class="input-group-btn">
						        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
						      </span>
              </div>
            </li>

          </ul>

        </div>
        <div class="col-md-2 col-xs-2 text-right  hidden-xs  menu-2">
          <ul>
            <li class="input-group"><a>登录</a>
            </li>
            <li class="input-group"><a>注册</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </nav>

  <div id="fh5co-main">
  <div id="fh5co-portfolio">
    <div class="fh5co-portfolio-item ">
      <div class="fh5co-portfolio-figure animate-box" style="background-image: url(/image/article/5.jpeg);"></div>
      <div class="fh5co-portfolio-description">
        <h2>Project First</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="/article_detail.html" class="btn btn-primary">Read the casetudy</a></p>
      </div>
    </div>
    <div class="fh5co-portfolio-item fh5co-img-right">
      <div class="fh5co-portfolio-figure animate-box" style="background-image: url(/image/article/6.jpeg);"></div>
      <div class="fh5co-portfolio-description">
        <h2>Project Second</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="/article_detail" class="btn btn-primary">Read the casetudy</a></p>
      </div>
    </div>
    <div class="fh5co-portfolio-item ">
      <div class="fh5co-portfolio-figure animate-box" style="background-image: url(/image/article/7.jpeg);"></div>
      <div class="fh5co-portfolio-description">
        <h2>Project Third</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
      </div>
    </div>
    <div class="fh5co-portfolio-item fh5co-img-right">
      <div class="fh5co-portfolio-figure animate-box" style="background-image: url(/image/article/8.jpeg);"></div>
      <div class="fh5co-portfolio-description">
        <h2>Project Fourth</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
      </div>
    </div>
  </div>
</div>
  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">
              <div>浙ICP备16026181号-1</div>
              <img src="${csdnPath}/image/beian.png"/>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602005702" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010602005702号</p></a>
          </small>
          </p>
          <p>
          <ul class="fh5co-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>

